.brand-head p{
	line-height: 80px;
	display: inline-block;

}
.brand-head img{
	height: 80px;
	margin-left: 20px;
}

input:checked + label>img{
	border: 2px solid #66afe9;
	border-radius: 10px;
	box-shadow:0px 2px 2px 1px #66afe9;
}

input + label>img{
	min-height: 10px;
}