body{
	background-image: url('../images/bg-1.png');
	background-repeat: repeat;
	font-weight: bold;
	font-size: 20px;
	color: #fff;
}
.brand-head{
	background-color: #5aaed9;
	margin: 0;
}
.brand-head span{
	margin-right: 5px;
}
.brand-head p{
	line-height: 80px;
	display: inline-block;
}
.brand-head img{
	height: 80px;
	margin-left: 20px;
}

@media only screen and (max-width: 500px) {
	.brand-head p{
		font-size: 12px;
	}
}
@media only screen and (max-width: 420px) {
	.brand-head img{
		width: 150px;
		height: auto;
		float: none !important;
	}
	.brand-head p{
		line-height: 60px;
	}
}
@media only screen and (max-width: 400px) {
	.brand-head img{
		width: 120px;
		height: auto;
		float: none !important;
	}
}
@media only screen and (max-width: 350px) {
	.brand-head img{
		width: 100px;
		height: auto;
	}
}


.brand{
	margin: 10px 0;
	box-shadow: 0px 10px 0px #2da0d2;
}



.panel {
    margin-bottom: 20px;
    background-color: #02519a;
}

.has-error .help-block{
	color: #fff;
	font-size: 14px;
	font-weight: normal;
}

.desc-text{
	font-size: 12px;
	font-weight: normal;
	margin-top: 10px;
}
@media only screen and (max-width: 400px){
	.desc-text{
		margin-top: 0px;
	}
}
.tic{
	height: 40px;
	margin: auto;
	display: none;
}

input:checked + label img.tic{
	margin: auto;
	display: block;
}
input:checked + label img.label-img{
    -webkit-box-shadow: 0 12px 6px -6px black;
     -moz-box-shadow: 0 12px 6px -6px black;
          box-shadow: 0 12px 6px -6px black;
   	border-radius: 10px;
}


input[type="checkbox"]{
	margin: 7px 0;
}

.form-control{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px ;
    border-radius: 0px ;
}

.collapse{
	margin-top: 10px;
}

.tractor-img{

}
@media only screen and (max-width: 350px) {
	.brand-head img{
		width: 100px;
		height: auto;
	}
}

.label-img{
	width: 100%;
	height: auto;
}

.grass-img{

}

.padding-0{
	padding: 0;
}