#FieldaysSignUp2017 .sfm_textbox
{
    padding:1px;
}
#FieldaysSignUp2017 .sfm_textarea
{
    padding:2px;
    resize:none;
}
#FieldaysSignUp2017 .error_strings
{
    font-family:Verdana;
    font-size:12px;
    color:#660000;
}
#FieldaysSignUp2017 img
{
    border:0;
}
#FieldaysSignUp2017 .loading_div
{
    background-color:transparent;
    background-image:url("images/loading.gif");
    background-position:center center;
    background-repeat:no-repeat;
}
#FieldaysSignUp2017 input[type='submit'],input[type='reset']
{
    font:inherit;
    color:inherit;
}
#FieldaysSignUp2017 .sfm_cr_box
{
    font-family:Verdana;
    font-size:10px;
    color:#888888;
}
#FieldaysSignUp2017 .sfm_cr_box a
{
    color:#888888;
}
#FieldaysSignUp2017 .sfm_slider
{
    margin:0;
    display:inline-bock;
}
#FieldaysSignUp2017 .slider_label
{
    padding-top:5px;
    padding-left:3px;
    overflow:visible;
    display:inline-block;
}
#FieldaysSignUp2017 .form_outer_div
{
    margin:0 auto;
    border:none;
    background-color:#ffffff;
}
#FieldaysSignUp2017 .sfm_form_label
{
    background-color:transparent;
}
#FieldaysSignUp2017 .element_label
{
    background-color:transparent;
}
body#sfm_FieldaysSignUp2017_body
{
    background-color:transparent;
    font-family:Arial;
    font-size:12px;
    color:#000000;
    margin:0px;
}
#FieldaysSignUp2017 .form_outer_div
{
    font-family:Arial;
    font-size:12px;
    color:#000000;
}
#FieldaysSignUp2017 .form_subheading
{
    background-color:transparent;
    margin:0;
    padding:0;
}
#FieldaysSignUp2017 .sfm_float_error_box
{
    font-family:Verdana;
    font-size:12px;
    color:#eeeeee;
    background:none repeat scroll 0 0 #333333;
    border:0;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    box-shadow:0 0 4px #333;
    border:none;
}
#FieldaysSignUp2017 .sfm_close_box
{
    font-family:Verdana;
    font-size:12px;
    color:#eeeeee;
}
#FieldaysSignUp2017 .progress_box_container
{
    border:1px solid #8e8e8e;
    background-color:#cccccc;
    font-family:Arial;
    font-size:10px;
    color:#ffffff;
    text-align:center;
    vertical-align:middle;
}
#FieldaysSignUp2017 .progress_box
{
    background-color:#333333;
    width:2px;
    float:left;
    margin:2px;
}
#FieldaysSignUp2017 .page_heading
{
    background-color:transparent;
    margin:0;
    padding:0;
}
#FieldaysSignUp2017 .page_number
{
    background-color:transparent;
}
#FieldaysSignUp2017 input[type='text'],input[type='password'],input[type='email'],input[type='tel'],input[type='number']
{
    background-color:#ffffff;
    border:1px solid #888888;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    height:23px;
    line-height:23px;
}
#FieldaysSignUp2017 textarea
{
    background-color:#ffffff;
    border:1px solid #888888;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}
#FieldaysSignUp2017 select
{
    background-color:#ffffff;
    font-family:Arial;
    font-size:12px;
    color:#000000;
    border:1px solid #8e8f8f;
}


#FieldaysSignUp2017 #label
{
    font-family:Arial;
    font-size:22px;
    color:#000000;
}
#FieldaysSignUp2017 #label1
{
    font-family:Arial;
    font-size:19px;
    color:#000000;
}
#FieldaysSignUp2017 #label2
{
    font-family:Arial;
    font-size:19px;
    color:#000000;
}
#FieldaysSignUp2017 #label3
{
    font-family:Arial;
    font-size:19px;
    color:#000000;
}
#FieldaysSignUp2017 #label4
{
    font-family:Arial;
    font-size:19px;
    color:#000000;
}
#FieldaysSignUp2017 #label5
{
    font-family:Arial;
    font-size:19px;
    color:#000000;
}
#FieldaysSignUp2017 #label6
{
    font-family:Arial;
    font-size:19px;
    color:#000000;
}


#FieldaysSignUp2017 #FieldaysSignUp2017_outer_div
{
    width:731px;
    height:2338px;
}
#FieldaysSignUp2017 #heading_container
{
    position:absolute;
    left:235px;
    top:47px;
    width:327px;
    height:20px;
}
#FieldaysSignUp2017 #heading
{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    text-align:center;
}
#FieldaysSignUp2017 #Name_container
{
    position:absolute;
    left:212px;
    top:124px;
}
#FieldaysSignUp2017 #Name
{
    width:343px;
    height:19px;
}
#FieldaysSignUp2017 #Email_container
{
    position:absolute;
    left:212px;
    top:154px;
}
#FieldaysSignUp2017 #Email
{
    width:343px;
    height:19px;
}
#FieldaysSignUp2017 #Phone_container
{
    position:absolute;
    left:212px;
    top:185px;
}
#FieldaysSignUp2017 #Phone
{
    width:343px;
    height:19px;
}
#FieldaysSignUp2017 #Used_container
{
    position:absolute;
    left:452px;
    top:250px;
    width:82px;
    height:14px;
}
#FieldaysSignUp2017 #New_container
{
    position:absolute;
    left:288px;
    top:252px;
    width:82px;
    height:14px;
}
#FieldaysSignUp2017 #FarmingCat_container
{
    position:absolute;
    left:212px;
    top:296px;
}
#FieldaysSignUp2017 #FarmingCat
{
    width:349px;
    height:22px;
}
#FieldaysSignUp2017 #label_container
{
    position:absolute;
    left:274px;
    top:392px;
}
#FieldaysSignUp2017 #label_container
{
    width:182px;
    height:20px;
}
#FieldaysSignUp2017 #label
{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    text-align:center;
}
#FieldaysSignUp2017 #Image8_container
{
    position:absolute;
    left:487px;
    top:458px;
    width:23px;
    height:27px;
}
#FieldaysSignUp2017 #label1_container
{
    position:absolute;
    left:134px;
    top:472px;
}
#FieldaysSignUp2017 #label1_container
{
    width:121px;
    height:20px;
}
#FieldaysSignUp2017 #label1
{
    position:absolute;
    top:0px;
    right:0px;
    text-align:right;
}
#FieldaysSignUp2017 #Image9_container
{
    position:absolute;
    left:276px;
    top:431px;
    width:179px;
    height:77px;
}
#FieldaysSignUp2017 #Image4_container
{
    position:absolute;
    left:243px;
    top:516px;
    width:43px;
    height:43px;
}
#FieldaysSignUp2017 #Image5_container
{
    position:absolute;
    left:309px;
    top:516px;
    width:43px;
    height:43px;
}
#FieldaysSignUp2017 #Image6_container
{
    position:absolute;
    left:375px;
    top:516px;
    width:43px;
    height:43px;
}
#FieldaysSignUp2017 #Image7_container
{
    position:absolute;
    left:440px;
    top:516px;
    width:45px;
    height:45px;
}
#FieldaysSignUp2017 #Image3_container
{
    position:absolute;
    left:335px;
    top:567px;
    width:12px;
    height:13px;
}
#FieldaysSignUp2017 #Image18_container
{
    position:absolute;
    left:494px;
    top:672px;
    width:23px;
    height:27px;
}
#FieldaysSignUp2017 #label2_container
{
    position:absolute;
    left:145px;
    top:682px;
}
#FieldaysSignUp2017 #label2_container
{
    width:121px;
    height:20px;
}
#FieldaysSignUp2017 #label2
{
    position:absolute;
    top:0px;
    right:0px;
    text-align:right;
}
#FieldaysSignUp2017 #Image10_container
{
    position:absolute;
    left:294px;
    top:648px;
    width:166px;
    height:77px;
}
#FieldaysSignUp2017 #Image11_container
{
    position:absolute;
    left:241px;
    top:737px;
    width:75px;
    height:38px;
}
#FieldaysSignUp2017 #Image12_container
{
    position:absolute;
    left:339px;
    top:738px;
    width:77px;
    height:38px;
}
#FieldaysSignUp2017 #Image13_container
{
    position:absolute;
    left:440px;
    top:737px;
    width:79px;
    height:39px;
}
#FieldaysSignUp2017 #Image16_container
{
    position:absolute;
    left:272px;
    top:781px;
    width:12px;
    height:13px;
}
#FieldaysSignUp2017 #Image15_container
{
    position:absolute;
    left:404px;
    top:794px;
    width:75px;
    height:38px;
}
#FieldaysSignUp2017 #Image14_container
{
    position:absolute;
    left:302px;
    top:796px;
    width:77px;
    height:39px;
}
#FieldaysSignUp2017 #Image17_container
{
    position:absolute;
    left:440px;
    top:838px;
    width:12px;
    height:13px;
}
#FieldaysSignUp2017 #label3_container
{
    position:absolute;
    left:160px;
    top:1008px;
}
#FieldaysSignUp2017 #label3_container
{
    width:121px;
    height:20px;
}
#FieldaysSignUp2017 #label3
{
    position:absolute;
    top:0px;
    right:0px;
    text-align:right;
}
#FieldaysSignUp2017 #Image19_container
{
    position:absolute;
    left:306px;
    top:964px;
    width:184px;
    height:85px;
}
#FieldaysSignUp2017 #Image20_container
{
    position:absolute;
    left:170px;
    top:1069px;
    width:95px;
    height:48px;
}
#FieldaysSignUp2017 #Image21_container
{
    position:absolute;
    left:278px;
    top:1070px;
    width:95px;
    height:48px;
}
#FieldaysSignUp2017 #Image22_container
{
    position:absolute;
    left:382px;
    top:1068px;
    width:102px;
    height:52px;
}
#FieldaysSignUp2017 #Image23_container
{
    position:absolute;
    left:497px;
    top:1067px;
    width:108px;
    height:55px;
}
#FieldaysSignUp2017 #label4_container
{
    position:absolute;
    left:104px;
    top:1292px;
}
#FieldaysSignUp2017 #label4_container
{
    width:189px;
    height:20px;
}
#FieldaysSignUp2017 #label4
{
    position:absolute;
    top:0px;
    right:0px;
    text-align:right;
}
#FieldaysSignUp2017 #Image24_container
{
    position:absolute;
    left:308px;
    top:1247px;
    width:227px;
    height:105px;
}
#FieldaysSignUp2017 #Image25_container
{
    position:absolute;
    left:263px;
    top:1347px;
    width:83px;
    height:42px;
}
#FieldaysSignUp2017 #Image26_container
{
    position:absolute;
    left:360px;
    top:1348px;
    width:83px;
    height:42px;
}
#FieldaysSignUp2017 #Image27_container
{
    position:absolute;
    left:457px;
    top:1348px;
    width:85px;
    height:43px;
}
#FieldaysSignUp2017 #Image29_container
{
    position:absolute;
    left:332px;
    top:1521px;
    width:175px;
    height:60px;
}
#FieldaysSignUp2017 #Image28_container
{
    position:absolute;
    left:241px;
    top:1518px;
    width:67px;
    height:67px;
}
#FieldaysSignUp2017 #label5_container
{
    position:absolute;
    left:142px;
    top:1691px;
}
#FieldaysSignUp2017 #label5_container
{
    width:189px;
    height:20px;
}
#FieldaysSignUp2017 #label5
{
    position:absolute;
    top:0px;
    right:0px;
    text-align:right;
}
#FieldaysSignUp2017 #Image30_container
{
    position:absolute;
    left:353px;
    top:1656px;
    width:185px;
    height:85px;
}
#FieldaysSignUp2017 #Image31_container
{
    position:absolute;
    left:290px;
    top:1746px;
    width:81px;
    height:41px;
}
#FieldaysSignUp2017 #Image32_container
{
    position:absolute;
    left:389px;
    top:1745px;
    width:89px;
    height:44px;
}
#FieldaysSignUp2017 #label6_container
{
    position:absolute;
    left:123px;
    top:1939px;
}
#FieldaysSignUp2017 #label6_container
{
    width:189px;
    height:20px;
}
#FieldaysSignUp2017 #label6
{
    position:absolute;
    top:0px;
    right:0px;
    text-align:right;
}
#FieldaysSignUp2017 #Image33_container
{
    position:absolute;
    left:343px;
    top:1914px;
    width:188px;
    height:87px;
}
#FieldaysSignUp2017 #Image35_container
{
    position:absolute;
    left:185px;
    top:2046px;
    width:106px;
    height:54px;
}
#FieldaysSignUp2017 #Image36_container
{
    position:absolute;
    left:306px;
    top:2042px;
    width:120px;
    height:60px;
}
#FieldaysSignUp2017 #Image37_container
{
    position:absolute;
    left:439px;
    top:2039px;
    width:124px;
    height:63px;
}
#FieldaysSignUp2017 #Image38_container
{
    position:absolute;
    left:412px;
    top:2114px;
    width:124px;
    height:62px;
}
#FieldaysSignUp2017 #Image34_container
{
    position:absolute;
    left:289px;
    top:2125px;
    width:114px;
    height:57px;
}
